# Application
API_HOST=127.0.0.1
API_PORT=8000

# Data storage (use /app/raw_data inside Docker)
RAW_DATA_DIR=./raw_data

# Datasets (Open DATASUS - SRAG)
DATASET_NAME_2019=INFLUD19-23-03-2026.csv
DATASET_URL_2019=https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SRAG/2019/INFLUD19-23-03-2026.csv
DATASET_NAME_2025=INFLUD25-29-06-2026.csv
DATASET_URL_2025=https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SRAG/2025/INFLUD25-29-06-2026.csv

# HTTP client
HTTP_TIMEOUT_SECONDS=300

# ETL / DuckDB (use /app/data inside Docker)
DUCKDB_PATH=./data/srag.duckdb
ETL_TABLE_NAME=srag_notificacoes
